DB_USER="config/settings.py"
DB_PASSWORD="config/settings.py"
DB_NAME="config/settings.py"
DB_HOST="config/settings.py"
DB_PORT="config/settings.py"

DJANGO_SECRET_KEY="config/settings.py"

STRIPE_SECRET_API_KEY="config/settings.py"
STRIPE_PUBLISHABLE_API_KEY="config/settings.py"

EMAIL_HOST="config/settings.py"
EMAIL_PORT="config/settings.py"
EMAIL_HOST_USER="config/settings.py"
EMAIL_HOST_PASSWORD="config/settings.py"
DEFAULT_FROM_EMAIL="config/settings.py"
